@font-face {
     font-family: 'font_OnePiece';
     src: local('font_OnePiece'), url('phantom-king-graphics_one-piece/one piece font.ttf') format('truetype');
     }

body {font-family: font_OnePiece, Verdana, sans-serif;
      font-size: 30px;
     }


h3 {color: red; margin-top: 20px; margin-bottom: 30px; font-size: 45px;}

input[type="number"] {width: 3em;}
input {margin-top: 30px;}

button {margin-top: 20px;}

#saveStamina {border: dashed 1px green; width: 500px; margin: auto; text-align: center;
               /* IE10 */
               background-image: -ms-linear-gradient(top left, rgb(173,216,230) 0%, rgb(46, 141, 173) 40%, rgb(173,216,230) 100%);

               /* Mozilla Firefox */
               background-image: -moz-linear-gradient(top left, rgb(173,216,230) 0%, rgb(46, 141, 173) 40%, rgb(173,216,230) 100%);

               /* Opera */
               background-image: -o-linear-gradient(top left, rgb(173,216,230) 0%, rgb(46, 141, 173) 40%, rgb(173,216,230) 100%);

               /* Webkit (Safari/Chrome 10) */
               background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgb(173,216,230)), color-stop(0.40, rgb(46, 141, 173)), color-stop(1, rgb(173,216,230)));

               /* Webkit (Chrome 11+) */
               background-image: -webkit-linear-gradient(top left, rgb(173,216,230) 0%, rgb(46, 141, 173) 40%, rgb(173,216,230) 100%);

               /* Standard rule */
               background-image: linear-gradient(to top left, rgb(173,216,230) 0%, rgb(46, 141, 173) 40%, rgb(173,216,230) 100%);}

#divStaminaToUse {padding-bottom: 10px; border-top: solid 1px orange;
                    /* IE10 */
                    background-image: -ms-linear-gradient(top left, rgb(144,238,144) 0%, rgb(70, 201, 70) 40%, rgb(144,238,144) 100%);

                    /* Mozilla Firefox */
                    background-image: -moz-linear-gradient(top left, rgb(144,238,144) 0%, rgb(70, 201, 70) 40%, rgb(144,238,144) 100%);

                    /* Opera */
                    background-image: -o-linear-gradient(top left, rgb(144,238,144) 0%, rgb(70, 201, 70) 40%, rgb(144,238,144) 100%);

                    /* Webkit (Safari/Chrome 10) */
                    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgb(144,238,144)), color-stop(0.40, rgb(70, 201, 70)), color-stop(1, rgb(144,238,144)));

                    /* Webkit (Chrome 11+) */
                    background-image: -webkit-linear-gradient(top left, rgb(144,238,144) 0%, rgb(70, 201, 70) 40%, rgb(144,238,144) 100%);

                    /* Standard rule */
                    background-image: linear-gradient(to top left, rgb(144,238,144) 0%, rgb(70, 201, 70) 40%, rgb(144,238,144) 100%);}

#language {float: right; position: relative; right: 20px;}
#language img {width: 25px; height: 25px; opacity: 0.2;}
